---
import Logo from "../assets/trace.svg";

interface ISocialMedias {
	href: string;
	iconClass: string;
}

const socialMedias: ISocialMedias[] = [
	{
		href: "https://github.com/martiniandre",
		iconClass: "fa-brands fa-github-alt",
	},
	{
		href: "https://www.linkedin.com/in/martiniandre/",
		iconClass: "fa-brands fa-linkedin-in",
	},
	{
		href: "mailto:andremartini.10@gmail.com?subject=Contact Andre",
		iconClass: "fa-solid fa-envelope",
	},
];
---

<header>
	<img src={Logo} alt="logo" />
	<nav>
		{
			socialMedias.map((scMedia) => (
				<a>
					<i class={scMedia.iconClass + " fa-3x"} />
				</a>
			))
		}
	</nav>
</header>

<style scoped>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		padding: 5px;
	}

	img {
		height: 50px;
	}

	img:hover {
		scale: 1.08;
	}

	nav {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	nav a {
		transition: color 0.4s ease-in, scale 0.2s ease-in-out;
		color: rgb(97, 95, 95);
	}

	nav a:hover {
		color: #fff;
		scale: 1.07;
	}

	@media (max-width: 768px) {
		header {
			margin-bottom: 30px;
		}
	}
</style>
