---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/trace.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="André Martini" />
		<meta name="description" content="Andre Martini's personal page" />
		<meta content="Andre Martini's personal page" property="og:title" />
		<meta content="Web developer" property="og:description" />
		<meta content="Andre Martini's personal page" property="twitter:title" />
		<meta content="Web developer" property="twitter:description" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://kit.fontawesome.com/63ccc19eae.js"
			crossorigin="anonymous"
		></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: "Montserrat", sans-serif;
	}

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background-color: #1d1d20;
	}

	html,
	body {
		min-height: 100vh;
	}

	body {
		color: #d1d1d1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 62.5%;
	}
</style>
